* {
    box-sizing: border-box;
  }
body {
  background-color: #551111
}

.container {
  background-color: #119955
}

.left-column p {
  margin: 0px;
}
.left-column a {
  font-weight: bold;
  font-size: 17px;
}
.title {
  font-style: italic;
}
.right-column p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: #d3d3d3;
}
