* {
    box-sizing: border-box;
  }
  @media(min-width: 500px) {
    .container {
      background-color: #119955
      max-width: 900px;
      margin: 0 auto;
      box-shadow: 5px; /*3*/
    }

body {
  background-color: #551111

}



h1 {
  font-size: 35px;
}
.left-column {
  width: 25%;
  font-family: Arial;
}

.left-column p {
  margin: 0px;

}
.left-column a {
  font-weight: bold;
  font-size: 17px;
  color: blue;  /*1*/
  text-decoration: none; /*2*/

}
.title {
  font-style: italic;

}
.right-column {
  width: 75%;
}
.right-column p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: #d3d3d3;
  padding-top: 10px;
}
}
